#redis-header {

  #navbarText {
    padding-top: 4px;
  }

}

#redis-login {
  background-image: linear-gradient(to right top, #f2f2f2, #f4f4f4, #f7f7f7, #f9f9f9, #fcfcfc);

  form {
    box-shadow: 0 20px 30px 0px rgba(84, 84, 84, 0.1);
    background: #fff;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;

    .input-group-text {
      color: #56baed;
      padding: .375rem 1rem;
    }

    .form-control {
      border: 1px solid #eee;
      height: 50px;

      &::placeholder {
        color: #d0d0d0;
      }
    }

    .input-group-text {
      background-color: transparent;
      border-color: #eee;
    }

    .btn-primary {
      background-color: #56baed;
      border: none;
      color: white;
      padding: 15px 60px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
      font-size: 13px;
      -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
      box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #39ace7;
      }
    }

    input {
      box-shadow: inset 0px 124px 14px #fff;
    }
  }
}

#redis {

  font-family: 'Roboto', sans-serif;

  .form-keys-flushall {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 30px;
  }

  .remove-cover {
    opacity: 0;
    visibility: hidden;
  }

  .keys {
    .list-group-item {
      border: none;
      transition: .40s ease-in-out;

      form {
        background: rgba(197, 218, 247, 0.10980392156862745);
        padding: 20px 0px;
      }

      .card {
        border: 1px solid rgba(102, 189, 243, 0.125);

        .card-body {
          background: #fff;

        }
      }

      &:hover {
        box-shadow: 0px 0px 5px rgba(16, 117, 202, 0.59);
        z-index: 9999;
      }
    }
  }

}
